# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\Kuliah Semester 3\Pertemuan 5 Struktur Data - 12 Oktober 2020 - KB 1 Java Fundamentals\Praktikum\02 Pertanyaan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
